@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Courier New";
  src: url("/path/to/courier-new.woff2") format("woff2"),
    url("/path/to/courier-new.woff") format("woff");
  /* Add additional formats as necessary */
  font-weight: normal;
  font-style: normal;
}

.font-courier-new {
  font-family: "Courier New", monospace;
}

html,
body {
  background-image: url("/BackgroundPortfolio.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(10, 13, 15);
  margin: 0;
  padding: 0;
  height: 100%;
}
